<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CCd.FastColoredTextBoxCtrl" version="9.2512.0" targetFramework="net472" />
  <package id="Costura.Fody" version="6.2.0" targetFramework="net472" developmentDependency="true" />
  <package id="FCTB" version="2.16.24" targetFramework="net472" />
  <package id="Fody" version="6.9.3" targetFramework="net472" developmentDependency="true" />
  <package id="Fungusware-FCTB" version="2025.6.4.1342" targetFramework="net472" />
</packages>